<!doctype html>
<html lang="en">
{% load static %}
<style>

body,head,html{
	background-color: #303031;}

.outerborder{
	/*border-style:solid;*/
	padding:10px 20px 10px;
}
.innerborder{
	padding:10px 80px 10px;
}
.h1font{
	font-style: monospace;
	font-size:25px;
	padding:10px 20px 10px;
	color:white;

}
.intro{padding:0px 50px 10px;}
.text-black{
	padding:0px 80px 10px;
	font-size:18px;
	color:white;
}
h2,h3{color:white;}
</style>
	

<div class="outerborder">
<h1 class="h1font">I am much interested in get to be updated with Technology, Share it with people and discuss on the evolutions and debate on the same. </h1>
<!-- {{ object_list }} -->
<div class="innerborder">
<h2>Papers Presented</h2>
{% for project in object_list %}
{% if "Papers" in project.category %}

<h3>{{ project.name }}</h3>
{% for des in project.get_description %}
<li class="text-black"> {{ des }}</li>
{% endfor %}
{% endif %}

{% if "Workshops" in project.category %}
<h2>Learnings from Workshops:</h2>
<h3>{{project.name}}</h3>
{% for des in project.get_description %}
<li class="text-black"> {{ des }}</li>
{% endfor %}
{% endif %}
{% endfor %}
</div>
</html>