<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title>Yokesh: Personal spaces</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/personal_page_style.css' %}" />
    <script async src="{% static 'js/index.js' %}"></script>
  </head>


<div class="topnav">
  <!-- <a class="active" href="#home">Home</a> -->
<div class="logo-image">
  <img src= {% static 'Yokesh_logo.jpg' %}></img>
</div>
<div id="clockdate">
  <div class="clockdate-wrapper">
    <div id="clock"></div>
    <div id="date"></div>
  </div>
</div>
 <div class="office">
    <form action="{% url 'official_home' %}">
    <button class="button" type="submit">Official</button></form>
  </div>
</div>

  <body onload="startTime()">

 <div class="containers">
    <div class="about-section">
      <h1 text-align="center"><b>Yokesh </b></h1>
      <h2>Who Am I? </h2>
        <p>
  A jovial, fun loving guy who loves to bring smile and happiness to people he interacts with. Still struggling to find some scientifc or logical thoughts behind traditional and superstitional beliefs. Has always special love and patriotism on Motherland, Mother language and Mother nation. Prefers some sort of possitivity either as "self-confidence" upon globally distributed God/Religions</p>
    <br>
    <hr>

    <h3>Fond on Sports, Fitness, Fun Memes, Tamil Literature, History, Cars</h3>
    <ul>
    <li>Sports - Cricket, Badminton</li>
    <li>Fitness- Gym</li>
    <li>Cars- Lamborghini</li>
  </ul>
    </div>

    <div class="images">
<table>
{% for socialmedias in socialmedia.all %}

{% if "Facebook" in socialmedias.app %}
<tr>
<td>
 <div class="section-style">


<div class="card">
<div class="image-cropper">
  <img src="{{ socialmedias.pictures.url }}">
</div>
  <h3>Yohan Yokesh</h3>
<form action="{{ socialmedias.link }}"><button class="button"><i class="fa fa-facebook"> Add Friend </i></button></form>

</div>

      </div>


</td>
{% endif %}
{% if "instagram" in socialmedias.app %}

<td>

<div class="section-style">
<div class="card">
<div class="image-cropper">
  <img src="{{ socialmedias.pictures.url }}">
</div>
  <h3>The Yokesh</h3>
<form action="{{ socialmedias.link }}"><button class="button"><i class="fa fa-instagram"> Follow </i></button></form>

</div>

      </div>

   </td>
</tr>
{% endif %}
{% if "Twitter" in socialmedias.app %}
<tr>
   <td>
     <div class="section-style">

<div class="card">
<div class="image-cropper">
  <img src="{{ socialmedias.pictures.url }}">
</div>
  <h3> Yokeshkcm </h3>
<form action="{{ socialmedias.link }}"><button class="button"><i class="fa fa-twitter"> Follow </i></button></form>

</div>

      </div>
      
   </td>
   {% endif %}
{% if "quora" in socialmedias.app %}
   <td>
     <div class="section-style">

<div class="card">
<div class="image-cropper">
  <img src="{{ socialmedias.pictures.url }}">
</div>
  <h3> Yokesh waran </h3>
<form action="{{ socialmedias.link }}"><button class="button"><i class="fa fa-quora"> Follow </i></button></form>

</div>

      </div>
      
   </td>
</tr>
{% endif %}
{% endfor %}

</table>
  </div>
</div>
  </body>
</html>