<!doctype html>
<html lang="en">
{% load static %}
<style>

body,head,html{
	background-color: #303031;}

.outerborder{
	/*border-style:solid;*/
	padding:10px 20px 10px;
}
.innerborder{
	padding:10px 80px 10px;
}
.h1font{
	font-style: Arial:
	font-size:18px;
	padding:10px 20px 10px;
	color:white;

}
.intro{padding:0px 50px 10px;}
.text-black{
	padding:0px 80px 10px;
	font-size:18px;
	color:white;
}
h2{color:white;}
</style>
	

<div class="outerborder">
<table><tr><td>
<h1 class="h1font">Designation: Embedded Software Engineer</h1><div class="intro">
<h2>Duration: <b>Sept 2017 - Feb 2020</b></h2>
<h2>Roles held:</h2><li class="text-black">Python Development/Automation</li>
            <li class="text-black">Continuous Integration/Continuous Delivery</li>
            <li class="text-black">Build and Release Engineer</li>
</div></td>
<td>
	<table class="images"><tr><td>
		<img src= {% static 'visteon/visteon_logo.jpg' %} width="300" height="300"></img></td>
		<td>
		
		<img src= {% static 'visteon/olympiatechpark.jpg' %} width="300" height="300"></img>
	</td></tr></table>
</td>
</tr></table>
</div>
<div class="innerborder">
<h2>Responsibilities held:</h2>	
<li class="text-black"> Development and Implementation of Cluster software using Embedded C</li>
<li class="text-black"> Developed Software Build System/Infrastructure using Scripting and Jenkins</li>
<li class="text-black"> Continuous Integration on software modules and continuous delivery to validation</li>
<li class="text-black"> Integration/functional testing, Smoke, Acceptance testing</li>
<li class="text-black"> Build and Release Engineer, Release Management, Configuration Management</li>
<li class="text-black"> Write Makefile and batch/shell script to make build/compilation</li>
<li class="text-black"> Fetch data from Jenkins build using Python API and automate build</li>
<li class="text-black"> Implement HTML and CSS to provides results in Jenkins server</li>
<li class="text-black"> Update and maintain the project release documentation</li>
<li class="text-black"> MISRA standard and static code development analysis</li>
<li class="text-black"> Collect and Store Sprint data from Jenkins using Python to SQL server</li>
<li class="text-black"> Done Automation in SCM and Build System to generate needed reports</li>
<li class="text-black"> Jenkins Build Automation tool complete setup and configuration</li>
</div>



</html>