<!doctype html>
<html lang="en">
{% load static %}
<style>
	body,head,html{
	background-color: #303031;}
.outerborder{
/*	border-style:solid;*/
	padding:10px 20px 10px;
}
.innerborder{
	padding:10px 80px 10px;
}
.h1font{
	font-style: Arial:
	font-size:18px;
	padding:10px 20px 10px;
	color:white;

}
.intro{padding:0px 50px 10px;}
.text-black{
	padding:0px 80px 10px;
	font-size:18px;
	color:white;
}

.images{
	align-items:center;
	padding:5% 15% 5%;
	position: relative;

}
h2{color:white;}
</style>
	

<div class="outerborder">
<table><tr><td>
<h1 class="h1font">Designation: Senior Software Engineer</h1><div class="intro">
<h2>Duration: <b>Feb 2020 - Present</b></h2>
<h2>Roles held:</h2><li class="text-black">Build Engineer</li>

</div></td>
<td>
	<table class="images"><tr><td>
		<img src= {% static 'zf/zf_logo.jpg' %} width="300" height="300"></img></td>
		<td>
		
		<img src= {% static 'zf/zf_office.jpg' %} width="300" height="300"></img>
	</td></tr></table>
</td>
</tr></table>
</div>
<div class="innerborder">
<h2>Responsibilities held:</h2>	
<li class="text-black"> Develop and Implement Lauterbach Scripts</li>
<li class="text-black"> Integrating Lauterbach scripts across projects</li>
<li class="text-black"> Migration of SCM from clearcase to GIT and BitBucket</li>
</div>
</html>