<!doctype html>
<html lang="en">
{% load static %}
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>  
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>

    {% load chartit %}
    {{ chart_list|load_charts:"cht3" }}
<style>
	body,head,html{
	background-color: #303031;}
.outerborder{
/*	border-style:solid;*/
	padding:10px 20px 10px;
}
.innerborder{
	padding:10px 80px 10px;
}
.h1font{
	font-style: Arial:
	font-size:18px;
	padding:10px 20px 10px;
	color:white;

}
.intro{padding:0px 50px 10px;}
.text-black{
	padding:0px 80px 10px;
	font-size:18px;
	color:white;
}

.images{
	align-items:center;
	padding:5% 15% 5%;
	position: relative;

}
h2{color:white;}
</style>
	

<div class="outerborder">
<table><tr><td>
<h1 class="h1font">Designation: Senior Software Engineer</h1><div class="intro">
<h2>Duration: <b>Feb 2020 - Present</b></h2>
<h2>Roles held:</h2><li class="text-black">Build Engineer</li>
					<li class="text-black">Python Tool Automation</li>

</div></td>
<td>
	<table class="images"><tr><td>
		<img src= {% static 'zf/zf_logo.jpg' %} width="300" height="300"></img></td>
		<td>
		
		<img src= {% static 'zf/zf_office.jpg' %} width="300" height="300"></img>
	</td></tr></table>
</td>
</tr></table>
</div>
<div class="innerborder">
<h2>Responsibilities held:</h2>	
<li class="text-black"> Develop and Implement Lauterbach Scripts</li>
<li class="text-black"> Implementation of REST API python with GUI modules for Bitbucket and GIT</li>
<li class="text-black"> Migration of SCM from clearcase to GIT and BitBucket</li>
<li class="text-black"> Implementing Python Scripts with ClearQuest API for report management</li>
<li class="text-black"> Automation of Tresos Port Configuration tool</li>

<section1 class="contentborder">
<h1 class="inside-heading" style="color:white"><i class="fa fa-book" style="color:white"></i><blink> Overall Skill Scale</blink></h1>
    <div id='cht3' style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">  </div>
    <hr>
</section1>
<br><br>

</div>
</html>